@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
    background-color: #0E0E0E;
    font-family: "Quicksand", sans-serif;
}

.topnav {
    overflow: hidden;
    margin: 70px 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}